@import 'vendor/casper';
@import 'syntax';

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
  line-height: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.caption {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 20px;
}

h3 {
  color: rgba(0,0,0,.44);
}

