---
pageable: true
layout: page
cover: bg.jpg
title: About me
---

%h3 In brief

%ul
  %li
    VP of Engineering / Partner at
    %a(href="https://www.pipelinedeals.com") PipelineDeals
    going on 9 years now
  %li
    Cofounder of
    %a(href="http://www.meetup.com/CTO-School-Philadelphia/") CTO School in Philadelphia.

%h3 Talks + Slides

%ul
  %li
    The slides for my
    %a(href="https://speakerdeck.com/gammons/qa-2-dot-0") QA 2.0 talk that I gave at
    %a(href="http://www.meetup.com/CTO-School-Philadelphia/") CTO School Philadelphia
  %li
    Slides for
    %a(href="https://speakerdeck.com/gammons/how-bitcoin-works") How Bitcoin works
    \- a talk I gave at
    %a(href="http://www.meetup.com/CTO-School-Philadelphia/") CTO School Philadelphia

%h3 Contact me

%ul
  %li
    %a(href="https://twitter.com/gammons") Gammons
    on twitter
  %li
    %a(href="https://github.com/gammons") Github profile
  %li
    %a(href="https://www.linkedin.com/in/grant-ammons-70611") Linkedin
